.progress .d-flex{justify-content: space-between;}
.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 15px;
	width: 100%;
}

.progress-done {
	background: linear-gradient(to left, #4f29fa, #2a8ff5);
	box-shadow: 0 3px 3px -5px #774eff, 0 2px 5px #86c1ff;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}
.secure-feature{text-align: left;}